@{
    int currentPage = ViewBag.CurrentPage;
    int totalPages = ViewBag.TotalPages;

    List<Artwork> artworks = ViewBag.Artworks as List<Artwork>;
}

<div class="hero min-h-screen bg-base-200">
    <div class="hero-content text-center">
        @foreach (var artwork in artworks)
        {
            <figure class="relative max-w-sm transition-all duration-300 cursor-pointer filter grayscale hover:grayscale-0">
                <a href="@Url.Action("Details", "Artwork", new { id = artwork.Id })">
                    <img class="rounded-lg object-cover h-72 w-full" src="/public/@GetFirstImagePath(artwork)" alt="Artwork Image">
                </a>
                <figcaption class="absolute px-4 text-lg text-white bottom-6">
                    <p>@artwork.Title</p>
                </figcaption>
            </figure>
        }
    </div>
    <nav class="pagination mt-96">
        @if (totalPages > 1)
        {
            <ul class="inline-flex items-center -space-x-px">
                @for (int i = 1; i <= totalPages; i++)
                {
                    <li class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white @(i == currentPage ? "active" : "")">
                        <a href="@Url.Action("Search", "Artwork", new { searchQuery = ViewBag.SearchQuery, page = i })">@i</a>
                    </li>
                }
            </ul>
        }
    </nav>
</div>

@functions {
    public string GetFirstImagePath(Artwork artwork)
    {
        if (artwork.ArtworkImages != null && artwork.ArtworkImages.Count > 0)
        {
            return artwork.ArtworkImages.First().ImagePath;
        }
        return string.Empty;
    }
}
